.dashboard-template{
  min-height: 100%;
  //min-height: calc( 100% - 281px);

  .rounded{

    .yellow-bg, .gray-bg {
      border-radius: 3px;margin-bottom: 20px;
    }
    .gray-bg{
      border: solid 1px #d4dde8;
    }
    .description{
      padding: 18px 20px;
      .info-title{
        font-size: 16px;
        color: #38414b;
      }
      p{
        line-height: 1;
      }

      p.info{
        margin-bottom: 0px;
        font-size: 24px;
      }
    }
  }


  //.yellow-bg{
  //  border: solid 1px #ffd334;
  //}
  .video-preview{
    height: 300px;
  }
  #footer-wrap{
    position:absolute;
    bottom:0;
  }

.dashboard{
  padding-top: 30px;
}
}
.dashboard-header{
  color: white;
  padding: 12px;
  font-size: 16px;
  .dropdown-menu>li{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 60px;
    padding-left: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;      color: white;
    a{
      padding: 0px;

    }
  }

  .dropdown-menu {
    right: 0px;
    left: unset;

    li{
      img{
        opacity: 0.7;
      }
    }
    li:hover{
      img{
        opacity: 1;
      }
    }
    .menu-img-wrap{
      float: left;
      width: 35px;
      text-align: center;
    }
    div{
      display: inline-block;
    }
    .lang-switch{
      position: absolute;
      left: -50px;
      background-color: #100f0e;
      display: none;
      height: 26px;
      line-height: 27px;
      border-radius: 3px;
      text-transform: uppercase;
    }
    .lang-switch-wrap:hover{
      .lang-switch{
        display: block;
        a{
          padding: 3px 5px;

        }
      }
    }
  }
  .balance, .invest{
    display: inline-block;
    min-height: 36px;
    border-radius: 3px;
    div{
      padding-top: 2px;
      display: inline-block;
    }
  }
  .balance{
    //min-width: 200px;


    background-color: #2f3027;
    //display: -webkit-box;
    //display: -moz-box;
    //display: -ms-flexbox;
    //display: -webkit-flex;
    //display: flex;
    //align-items: center;
    padding: 5px 10px;
    .text{
      padding-right: 20px;
    }
    img{
      margin-left: 10px;
      width: 20px;
      height: 20px;
      float: right;
    }
  }
  .invest{
    margin-left: 12px;
    background-color: #6fb600;
    border: none;
  }

}
.menu-collapse{
  padding-right: 23px;
  width: 100%;
  height: 70px;
  background-color: #111410;
  bottom: 0px;
  position: absolute;
  .colapse-text{
    padding-top: 21px;
    height: 100%;
    display: none;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #525443;
    @include transition( display, .4s, ease-out );
  }
  .colapse-icon{
    cursor: pointer;
    margin-top: 26px;
    float: right;
    width: 11px;
    height: 19px;
    background: url(resources/images/collapse-arrow.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
}
.side-menu{

  position: absolute; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  bottom: 0px;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;

  width: 67px;
  z-index: 1;
  background-color: #181b16;

  //min-height: calc( 100% - 281px);
  &.open{
    .menu-collapse{
      .colapse-icon{
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
      }
    }

  }
  .menu-logo{
    padding-top: 15px;
    height: 60px;
    background: url(resources/images/banner-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    img{
      max-width: 252px;
    }
  }
  .menu{
    color: white;
    //padding: 40px 0px;

    .menu-item{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      padding: 0px 20px;
      position: relative;
      margin: 0 auto;
      height: 70px;        color: #ffffff;
      //margin-bottom: 25px;
      .li-img-wrap{
        min-width: 50px;
        .menu-img{
          width: 30px;
          height: 26px;

        }
      }
      p{
        margin-bottom: 0px;
        text-align: left;

        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;

      }
    }
    .cctv{
      .menu-img{
        background: url(resources/images/progress/camera.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .cctv:hover, .cctv:active{
      .menu-img{
        background: url(resources/images/icons/yellow/camera.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .documents{
      .menu-img{
        background: url(resources/images/progress/documents.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .documents:hover, .documents:active{
      .menu-img{
        background: url(resources/images/icons/yellow/documents.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .rules{
      .menu-img{
        background: url(resources/images/progress/ico.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .rules:hover, .rules:active{
      .menu-img{
        background: url(resources/images/icons/yellow/ico.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .cashout{
      .menu-img{
        background: url(resources/images/progress/cash_out.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .cashout:hover, .cashout:active{
      .menu-img{
        background: url(resources/images/icons/yellow/cash_out.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .oferta{
      .menu-img{
        background: url(resources/images/progress/oferta.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .oferta:hover, .oferta:active{
      .menu-img{
        background: url(resources/images/icons/yellow/oferta.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .news{
      .menu-img{
        background: url(resources/images/progress/news.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    .news:hover, .news:active{
      .menu-img{
        background: url(resources/images/icons/yellow/news.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
      }
    }
    a:hover{
      .menu-item{
        background-color: #2f3027;
        color: #ffd234;
      }
    }
  }

}
.content-wrap{
  padding-bottom: 50px;
  padding-left: 67px;
  padding-right: 0px;
  height: 100%;
  //min-height: calc( 100% - 281px);
  //position: fixed;
  //width: 100%;
  z-index: 0;
  @include transition( padding-left, .4s, ease-out );

}
.user-info{
  float: right;
  color: black;
}
.doc-block{
  margin-bottom: 40px;
}

.document-category{
  min-height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #181b16;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.doc-category-title{
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
}
.download-name{
  padding-top: 5px;
  padding-bottom: 5px;
}
.collapse-arrow{
  width: 25px;
  height: 25px;
  padding: 6px;
  //background: url(resources/images/down.png) no-repeat center center;
  //-webkit-background-size: contain;
  //-moz-background-size: contain;
  //-o-background-size: contain;
  //background-size: contain;
  display: inline-block;
  float: right;
  background-color: #b8c2c8;
  border-radius: 50%;
  margin-top: 2px;
  &-img{
    width: 100%;
    height: 100%;
    background: url(resources/images/arrow-up.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}
.collapsed{
  .collapse-arrow, .bullet{
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);


  }
}
.document-list-header{
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9099a3;
}
.document-item{
  min-height: 60px;
  font-size: 16px;
  color: #2f3027;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.open-document{
  text-align: center;
  color: #6fb600;
  width: 106px;
  height: 28px;
  border: solid 1px #6fb600;
  line-height: 28px;
  float: right;
}
#userUpdateForm{
  padding: 20px;
  input[type="text"], input[type="password"] {
    height: 40px;
    width: 100%;
  }
  button{
    width: 100%;
    text-align: center;

    border-radius: 3px;
    background-color: #6fb600;
    border: solid 1px #6fb600;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
}
.right-column{
  width: 106px;
  float: right;
}