.document-template{
  #banner{
    padding-bottom: 205px;
  }
}
.documents:before{
  content: '';
  width: 45px;
  height: 2px;
  background-color: #ffd334;
  display: block;
  top: 0px;
  position: absolute;
}
.documents{
  padding-top: 35px;
  padding-bottom: 20px;
}
.document{
  margin-bottom: 19px;
  a{

  }
  img{
    max-width: 31px;
    max-height: 31px;
    margin-right: 15px;
  }
  span{
    font-family: 'RobotoBold', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.94;
    text-align: left;
    color: #ffd334;
  }
}