body, html {
  height: 100%
}
body{
  min-height: 100%
}
.row{
  height: 100%;
}
a, button {
  outline: 0;
}

nav li a{
  //color: white !important;
}
.clear-pads{
  padding: 0px !important;
}
.soc-icon{
  display: inline-block;
}
ul, menu, dir {
  -webkit-padding-start: 0px;
}

.circle{
  border-radius: 50%;
}
