

@import "_fonts";
@import "_tooltips";

/* PARTIALS */
@import "partials/index";

/* PAGES */
@import "pages/index";

body, html {
  height: 100%;
  min-height: 100%;
}
body{
  font-family: 'RobotoRegular', sans-serif;
}
body > .container{
  position:relative;
  min-height:100%;
}
.row{
  height: 100%;
}
a, button {
   outline: 0;
   text-decoration: none;
   text-decoration-style: unset;
   text-decoration-color: unset;
}
a:focus, a:hover {
  outline: 0;
  text-decoration: none;
  text-decoration-style: unset;
  text-decoration-color: unset;
}
nav li a{
  //color: white !important;
}
.col{
  display: inline-block;
}
.clear-pads{
  padding-right: 0px!important;
  padding-left: 0px!important;
}
.soc-icon{
  display: inline-block;
}
ul{
  list-style: none;
}
ul, menu, dir {
  -webkit-padding-start: 0px;
}
input, textarea{
  border-radius: 3px;
}
img{
  max-width: 100%;
}
.bold{
  font-family: 'RobotoBold', sans-serif;
}
.circle{
  border-radius: 50%;
}
.white-bg{
  background-color: white;
}
.yellow-bg{
  background-color: #ffd334;
}
.dark-bg{
  background-color: #181b16;
}
.black{
  color: #181b16;
}
.white{
  color: white;
}
.yellow{
  color: #ffd334;
}
.center-horizontaly{
  @include display-flex();
  align-items: center;
}
.font15{
  font-size: 15px;
}
.font20{
  font-size: 20px;
}

@import "responsive/_lg";
@import "responsive/_md";
@import "responsive/_sm";
