@media (max-width: 1199px) {
  #banner {
    .granulas {
      width: 316px;
      height: 316px;
      .opts-wrap {
        position: absolute;
        @include on-circle($item-count: 7, $circle-size: 316px, $item-size: 8px);
      }
    }
  }
  .logo{
    width: 150px;
  }
  .nav>li>a {
    padding: 10px 10px;
  }
}
@media ( min-width: 1200px){
  #banner {
    min-height: 681px;
  }
  #progress{
    .progress-bar-wrap {
      width: 480px;
    }
  }
}