@media (max-width: 991px) {
  h1, .title{
    font-size: 30px;
  }
  #banner {
    h1{
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
    .join-link, .header-opt-content{
      font-size: 16px;
    }
  }

  #counter {
    .counter-wrap{
      .counter-number {
        font-size: 40px;
      }
    }
  }
  #problem{
    .city-description{
      .dark-bg{
        margin-right: 5px;
      }
    }
  }
}


@media (min-width: 768px){
  .address, .phone{
    padding-left: 0px;
    padding-right: 0px;
  }
  #banner{
    //margin-top: -110px;
  }
  .navbar-default {
    padding-top: 35px;
  }

  .register-link, .login-link, .dashboard-link{
    border: 1px solid yellow;
    a, a:hover, a:focus, a:active{
      outline: 0;
      outline-color: transparent;
    }

  }

  .navbar-nav>li>a, .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .register-login-modals{
    .modal-dialog {
      width: 850px;
    }
  }

}