@media (min-width: 768px){
  .address, .phone{
    padding-left: 0px;
    padding-right: 0px;
  }

    .banner-container, .document-container{
      padding-top: 70px;
    }

  .navbar-default {
    padding-top: 35px;
  }

  .register-link, .login-link, .dashboard-link{
    border: 1px solid yellow;
    a, a:hover, a:focus, a:active{
      outline: 0;
      outline-color: transparent;
    }

  }

  .navbar-nav>li>a, .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #problem{
    //.dark-bg{
    //  width: auto;
    //  float: none;
    //}
    .posts-wrap .post-wrap {
      min-height: 320px;
    }
  }
  //#roadmap {
  //  padding-left: 0px;
  //  padding-right: 0px;
  //  ul {
  //    width: 80%;
  //    li:before{
  //      content: '';
  //      width: 9px;
  //      height: 9px;
  //      background-color: #ffffff;
  //      border-radius: 50%;
  //      position: absolute;
  //      top: 35px;
  //      left: -38px;
  //    }
  //    li:last-of-type:before{
  //      content: '';
  //      width: 23px;
  //      height: 23px;
  //      background-color: yellow;
  //      border: 7px solid white;
  //      border-radius: 50%;
  //      position: absolute;
  //      top: 28px;
  //      left: -45px;
  //    }
  //  }
  //  ul:before{
  //    content: '';
  //    width: 3px;
  //    height: calc( 100% - 80px );
  //    background-color: #ffd333;
  //    position: absolute;
  //    top: 40px;
  //    //bottom: -40px;
  //    left: -35px;
  //  }
  //}
  #subscribe {
    .subscription-container {
      @include display-flex();
      align-items: center;
    }
  }
  #contact{
    .address, .phone {
      max-width: 355px;
    }
  }
}
@media (max-width: 991px) {
  h1, .title{
    font-size: 30px;
  }

  #banner {
    h1{
      font-size: 30px;
    }
    p {
      font-size: 19px;
      margin-bottom: 15px;
    }
    .join-link, .header-opt-content{
      font-size: 14px;
    }
    .cycle {
      width: 350px;
      height: 320px;
    }
    .titles{
      .top-first {
        margin-top: 50px;
      }
      .second-title, .third-title{
        margin-top: 0px;
        padding: 0px;
      }
      .fourth-title, .fifth-title {
        margin-top: 105px;
        padding: 0px;
      }
    }
    .yellow-text{
      line-height: 30px;
      font-size: 18px;
    }
    .recycle{
      font-size: 24px;
      img {
        max-width: 20px;
        max-height: 20px;
      }
    }
    .rounded{
      .document{
        p.download-title {
          font-size: 14px;
        }
      }
    }

  }

  #counter {
    height: 165px;
    .counter-wrap{
      .counter-number {
        font-size: 36px;
      }
    }
    .counter-wrap > div {
      height: 75px;
      width: 80px;
    }
  }
  #problem{
    .city-description{
      .dark-bg{
        //margin-right: 5px;
        //width: 48%;
      }
    }
  }
  #registrationModal, #loginModal{
    .social-auth{
      div{
        margin-right: 15px;
        img{
          width: 40px;
          height: 40px;
        }
      }
      .or{
        width: 40px;
        height: 40px;
      }

    }
  }
  .top-title, .bottom-title{
    width: 150px;
  }
  .granulas{
    width: 150px;
    height: 150px;
    .opts-wrap{
      width: 150px;
      height: 150px;
      @include on-circle($item-count: 6, $circle-size: 150px, $item-size: 0px);
      .header-opt .header-opt-content img {
        max-width: 30px;
        max-height: 40px;
      }
    }
    .circle {
      padding: 5px;
    }
  }
  #progress{
    .divided-blocks {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .divided-blocks>div{
      padding-left: 0px;
    }
    .wallet-nr {
      .btn {
        padding: 3px 8px;
      }
      #clipboard-text {
        margin-right: 10px;
        width: 220px;
        font-size: 11px;
      }
    }
    .wallet {
      .wallet-nr {
        img{
          width: 20px;
          height: 20px;
        }
      }
    }

  }
  .font15{
    font-size: 14px;
  }
  .font20{
    font-size: 17px;
  }
  .copy-icon{
    img{

      display: block;
    }
  }
  .copy-txt{
    display: none;
  }
  .nav > li > a {
    font-size: 14px;
  }
  .logo{
    width: 100px;
  }
  .menu-container{
    .container, .container-fluid{
      padding-right: 0px;
      padding-left: 0px;
    }
    .navbar-nav>li>a {
      line-height: 14px;
    }
    .dropdown-toggle {
      padding-right: 0px;
    }
  }
  #subscribe{
    .subscribe-description>div{
      padding-left: 0px;
      padding-right: 0px;
    }
    input[type="text"], input[type="button"] {
      width: 100%;
    }
  }
  #contact{
    .soc-icons{
      text-align: center;
    }
    .address, .phone {
      padding-bottom: 20px;
    }
  }
  .social-auth{
    .register-vk, .vk-login{
      background: url( resources/images/icons/yellow/vk.png )no-repeat center center;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .fbregister, .fblogin{
      background: url( resources/images/icons/yellow/fb.png )no-repeat center center;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .google-register, .google-login{
      background: url( resources/images/icons/yellow/google_plus.png )no-repeat center center;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    &.mobile{
      display: block;
    }
  }

  .close:focus, .close:hover, .close {
    color: black;
  }
  #qrModal{
    .close:focus, .close:hover, .close {
      color: white;
    }
  }

  .login-btn-wrap{
    margin-bottom: 15px;
    padding-right: 0px;
  }
  .reset-btn-wrap{
    padding-left: 0px;
  }
  .titles{
    .first-title{
      margin-bottom: 23px;
    }
    .second-title {
      margin-left: -66px;
    }
    .third-title {
      margin-right: -30px;
    }
    .fourth-title {
      margin-left: -46px;
    }
    .fifth-title {
      margin-right: -28px;
    }
  }
  #banner .titles{
    .fourth-title, .fifth-title {
      margin-top: 92px;
    }
  }
  .coin-wrap img {
    max-width: 95px;
    max-height: 95px;
  }
  .openqr{
    display: none;
  }
  #roadmap .right-block {
    margin-top: 90px;
  }
}

@media (min-width: 768px){
  .menu-container {
    //position: absolute;
    ul.nav {
      @include display-flex();
      align-items: center;
      justify-content: center;
    }
  }
  #progress{
    .container {
      @include display-flex();
      align-items: center;
    }
  }
  .rounded .document {
    margin-right: 30px;
  }
  .right-md{
    float: right;
  }
  #roadmap {
    .left-block:before{
      content: '';
      width: 3px;
      height: calc( 100% - 80px);
      background-color: #ffd333;
      position: absolute;
      top: 48px;
      right: 0px;
    }
    .left-block:after{
      content: '';
      width: 23px;
      height: 23px;
      background-color: yellow;
      border: 7px solid white;
      border-radius: 50%;
      position: absolute;
      bottom: 15px;
      right: -10px;
    }

    .first:before{
      content: '';
      width: 9px;
      height: 9px;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 35px;
      right: -18px;
    }
    .second:before{
      content: '';
      width: 9px;
      height: 9px;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -21px;
    }
    .third:before{
      content: '';
      width: 9px;
      height: 9px;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: -18px;
    }
    .right-block{
      .roadmap-item, .yellow{
        padding-left: 15%;
      }

    }
    .bottom-block{
      text-align: center;
    }
    .fourth{
      margin-top: 40px;
      .roadmap-item{
        width: 360px;
        margin: 0 auto;
        margin-bottom: 25px;
      }
    }
    .first{
      margin-bottom: 90px;
    }
    .third{
      .yellow{
        padding-left: 70px;
      }
    }
  }
}

@media ( min-width: 992px) {
  #problem .city-description .dark-bg{
    //max-width: 25%;
  }
  #roadmap{
    .first{
      margin-bottom: 160px;
    }
  }
}
@media ( min-width: 1200px){
  #banner {
    min-height: 681px;
  }
  #progress{
    .progress-bar-wrap {
      width: 480px;
    }
  }
  .rounded {
    .document {
      width: 220px;
    }
  }
}

.right-md{
  min-height: 150px;
}
@media (max-width: 767px){
  h1, .title{
    font-size: 24px;
  }
  .title{
    margin-bottom: 40px;
  }
  #banner {

  }
  .li-img-wrap{
    min-width: 70px;
  }
  #banner{
    h1 {
      font-size: 24px;
    }
    .join-link, .header-opt-content {
      font-size: 12px;
    }
    padding-bottom: 75px;
    .left-side{
      text-align: center;
    }
    p {
      font-size: 16px;
      margin-bottom: 10px;
      max-width: 100%;
    }
    .recycle{
      display: inline-block;
      margin: 0 auto;
    }
    .welcome-links{
      justify-content: center;
      a{
        margin-right: 10px;
      }
    }
    .head-description{
      p{
        max-width: 100%;
        text-align: center;
      }
    }
    .cycle {
      margin: 0 auto;
    }
  }
  .menu-container{
    //background-color: #181b16;
    .container, .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
    }
    ul.nav.navbar-nav{
      position: relative;
    }
    ul.nav.navbar-nav>li:last-of-type{

        position: absolute;
        top: 0px;
        right: 0px;
      }
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white;
  }
  .navbar-toggle {
    margin-right: 0px;
  }
  .subscription-container{
    text-align: center;
  }
  .token2 {
    max-width: 25%;
  }
  #video, #problem, #team{
    .text-block, .posts-wrap .post-wrap p{
      font-size: 14px;
    }
    .team-member p{
      font-size: 14px;
    }
  }
  #problem{
    .city-description{
      margin-bottom: 0px;
    }
    .posts-wrap{
      padding-bottom: 0px;
    }
  }
  #progress{
    padding-top: 45px;
  }
  #contact{
    .container.border-bottom {
      padding-bottom: 35px;
    }
  }
  #subscribe {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #roadmap{
    .roadmap-block{
      margin-bottom: 30px;
    }

  }
  #videoModal{
    .modal-dialog {
      width: 100%;
    }
  }
  #wpcrlRegisterSection .left input, #wpcrlLoginSection .left input{
    font-size: 16px;
    height: 30px;
  }
  .registration-submit, .login-submit, .forget-password, .reset-password-submit, .back-to-login {
    font-size: 20px;
  }
  .agreement-terms {
    font-size: 14px;
  }
  #wpcrlRegisterSection h4, #wpcrlLoginSection h4 {
    font-size: 28px;
    margin-bottom: 18px;
  }
  #firstModal, #secondModal, #thirdModal, #fourthModal, #fifthModal, #sixthModal{
    h4{
      font-size: 26px;
      margin-bottom: 10px;
    }
    p{
      font-size: 14px;
    }
    .modal-body{
      padding: 15px;
    }
    .close {
      color: #000;
      top: 10px;
      right: 15px;
    }
  }

  .document{
    margin-bottom: 15px;
    span {
      font-size: 16px;
      line-height: 1.4;
    }
  }

}
@media (max-width: 600px){
  #counter{
    .counter-wrap{
      .counter-number {
        font-size: 24px;
      }
      .counter-text{
        font-size: 13px;
      }
    }
    .counter-wrap > div {
      height: 58px;
      width: 65px;
      margin-right: 3px;
    }
    .counter-wrap > div:after {
      content: "";
      font-size: 24px;
      color: #181b16;
      position: absolute;
      right: -10px;
      top: 0px;
      width: 0px;
      height: 0%;
      line-height: 0px;
    }
  }
  #roadmap {
    h4 {
      font-size: 20px;
    }
  }
}
@media (max-width: 500px){
  #problem{
    .city-description .full-width-xs {
      width: 100%;
    }
  }
  #captchaContainer{
    transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;

    -moz-transform: scale(0.77);
    -ms-transform: scale(0.77);
  }



}
@media (max-width: 480px){
  .cycle{
    display: none;
  }
  .details-sm{
    display: block;
  }
  #roadmap {
    h4{
      font-size: 16px;
    }
    .li-img-wrap {
      img {
        max-width: 20px;
        max-height: 20px;

      }
      min-width: 45px;
    }
  }
}
@media (max-width: 420px){

  #progress{
    .divided-blocks > div{
      width: 100%;
    }
  }
}
@media (min-width: 401px){
  .roadmap-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 400px){
  #roadmap{
    text-align: center;
    .li-img-wrap{
      width: 100%;
      text-align: center;
      img {
        float: none;
        max-width: 37px;
        max-height: 37px;
        margin-bottom: 7px;
      }
    }
    .roadmap-item{
      margin-bottom: 40px;
      p{
        text-align: center;
      }
    }

  }

}
@media (max-width: 350px){

  #progress{
    .wallet-nr #clipboard-text {
      width: 220px;
    }
    .wallet .wallet-nr img {
      width: 15px;
      height: 15px;
    }
    .wallet-nr .btn {
      padding: 3px 5px;
    }
    .wallet-nr #clipboard-text {
      margin-right: 0px;
    }
  }

}