@media (max-width: 991px) {
  h1, .title{
    font-size: 30px;
  }

  #banner {
    h1{
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
    .join-link, .header-opt-content{
      font-size: 14px;
    }
    .cycle {
      width: 350px;
      height: 320px;
    }
    .titles{
      .top-first {
        margin-top: 50px;
      }
      .second-title, .third-title{
        margin-top: 50px;
        padding: 0px;
      }
      .fourth-title, .fifth-title {
        margin-top: 105px;
        padding: 0px;
      }
    }


  }

  #counter {
    .counter-wrap{
      .counter-number {
        font-size: 40px;
      }
    }
  }
  #problem{
    .city-description{
      .dark-bg{
        margin-right: 5px;
      }
    }
  }
  #registrationModal, #loginModal{
    .social-auth{
      div{
        margin-right: 15px;
        img{
          width: 40px;
          height: 40px;
        }
      }
      .or{
        width: 40px;
        height: 40px;
      }

    }
  }
  .top-title, .bottom-title{
    width: 150px;
  }
  .granulas{
    width: 150px;
    height: 150px;
    .opts-wrap{
      width: 150px;
      height: 150px;
      @include on-circle($item-count: 6, $circle-size: 150px, $item-size: 0px);
      .header-opt .header-opt-content img {
        max-width: 30px;
        max-height: 40px;
      }
    }
  }
  #progress{
    .divided-blocks {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .divided-blocks>div{
      padding-left: 0px;
    }
  }
  .font15{
    font-size: 14px;
  }
  .font20{
    font-size: 17px;
  }
}


@media (min-width: 768px){
  .address, .phone{
    padding-left: 0px;
    padding-right: 0px;
  }
  #banner{
    //margin-top: -110px;
  }
  .navbar-default {
    padding-top: 35px;
  }

  .register-link, .login-link, .dashboard-link{
    border: 1px solid yellow;
    a, a:hover, a:focus, a:active{
      outline: 0;
      outline-color: transparent;
    }

  }

  .navbar-nav>li>a, .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .register-login-modals{
    .modal-dialog {
      width: 850px;
    }
  }
  #problem{
    .dark-bg{
      width: auto;
      float: none;
    }
    .dark-bg:after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0; height: 0;
      border-bottom: 8px solid #181b16;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }
  #roadmap {
    padding-left: 0px;
    padding-right: 0px;
    ul {
      width: 80%;
      li:before{
        content: '';
        width: 9px;
        height: 9px;
        background-color: #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 35px;
        left: -38px;
      }
      li:last-of-type:before{
        content: '';
        width: 23px;
        height: 23px;
        background-color: yellow;
        border: 7px solid white;
        border-radius: 50%;
        position: absolute;
        top: 28px;
        left: -45px;
      }
    }
    ul:before{
      content: '';
      width: 3px;
      height: calc( 100% - 80px );
      background-color: #ffd333;
      position: absolute;
      top: 40px;
      //bottom: -40px;
      left: -35px;
    }
  }
}
@media ( min-width: 992px) {
  #problem .city-description .dark-bg{
    max-width: 25%;
  }
  #roadmap {

    ul {
      width: 740px;
    }
  }
}
@media ( min-width: 1200px){
  #banner {
    min-height: 681px;
  }
  #progress{
    .progress-bar-wrap {
      width: 480px;
    }
  }
}
@media (max-width: 767px){
  .li-img-wrap{
    min-width: 70px;
  }
}