#counter{

  padding-bottom: 40px;
  height: 190px;
  background: url(resources/images/bg.png)no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-align: center;

  h4{
    font-family: 'Roboto Black', sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.75;

    color: #181b16;
  }

  .counter-wrap > div{
    position: relative;
    padding: 5px 0px;
    width: 100px;
    border-radius: 7px;
    display: inline-block;

    margin-right: 20px;
  }
  .counter-wrap > div:last-of-type{
    margin-right: 0px;
  }
  .counter-wrap > div:after{
    content: ":";
    font-size: 24px;
    color: #181b16;
    position: absolute;
    right: -10px;
    top: 0px;
    width: 2px;
    font-weight: bold;
    height: 100%;
    line-height: 80px;
  }
  .counter-wrap > div:last-of-type:after{
    content: "";
  }
  .counter-wrap{
    text-align: center;
    .counter-number{

      font-family: 'Roboto Black', sans-serif;
      font-size: 44px;
      font-weight: 900;
      line-height: 1.14;
      color: #ffffff;
    }
    .counter-text{

    }
    .counter-number, .counter-text{
      color: #ffffff;
    }
  }

}