h1{
  font-family: 'RobotoBold', sans-serif;
}
.yellow-text {
  width: fit-content;
  display: inline-block;
}
.title{
  position: relative;
  font-family: 'RobotoBold', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.39;
  text-align: center;
  color: #38414b;
  margin-bottom: 70px;
}
.title:after{
  content: '';
  width: 45px;
  height: 2px;
  background-color: #ffd333;
  border: solid 1px #ffd333;
  position: absolute;
  left: 45%;
  left: calc( 50% - 22.5px );
  bottom: -8px;
}
.border-bottom{
  border-bottom: 1px solid #e6e9eb;
}
.text-center{
  text-align: center;
}
.modal{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  align-items: center;
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
}
.modal-body {
  padding: 0px;
}
.modal-content{
  border: none;
  border-radius: 0px;
}
.close{
  font-size: 30px;
  position: absolute;
  right: 10px;
  z-index: 1;
  color: white;
  opacity: .5;
}
.close:focus, .close:hover{
  opacity: 1;
  color: white;
}