#registrationModal, #loginModal{
  .or{
    background-color: #ffd334;
    width: 55px;
    height: 55px;
    position: absolute;
    left: -43px;
    border-radius: 55%;
    @include display-flex();
    align-items: center;
    align-content: center;
    p{
      margin: 0 auto;
      font-family: 'RobotoBold', sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 2.33;
      text-align: center;
      color: #ffffff;
    }
  }
  label{
    @include display-flex();
    align-items: center;
  }
  .modal-content {
    background-color: transparent;
    .left{
      background-color: #fff;
    }
  }
  .help-block{
    position: absolute;
  }
  input{
    height: 40px;
  }
  .form-group{
    margin-bottom: 25px;
  }
  .modal-body{
    background: url(resources/images/auth-modal-bg.png)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
#registrationModal{
  .pass-confirm{
    .help-block{
      position: relative;
    }
  }

  .left, .right{
    min-height: 750px;
  }

}

#wpcrlRegisterSection, #wpcrlLoginSection{
  .left{
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 40px;
    input{
      width: 100%;
    }
  }
  h4{
    font-family: 'RobotoBold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.17;
    margin-top: 20px;
    margin-bottom: 32px;
    color: #38414b;
  }
}
#wpcrlRegisterSection, #wpcrlLoginSection{
  h2{
    font-family: 'RobotoBold', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
  }
}
#wpcrlRegisterSection{
  input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #6fb600;
    border: solid 2px #6fb600;
    margin-top: 0px;
  }

  h2 {
    margin-top: 145px;
    margin-bottom: 90px;
  }
}
#wpcrlLoginSection{
  overflow: hidden;
  h2 {
    margin-top: 80px;
    margin-bottom: 30px;
  }
}
.agreement-terms{

  i{
    display: none !important;
  }
  //width: 338px;
  //height: 41px;
  font-size: 15px;
  line-height: 1.56;
  text-align: left;
  color: #5c6670;

  a{
    color: #6fb600;
  }
}
.registration-submit, .login-submit, .forget-password, .reset-password-submit, .back-to-login{

  border-radius: 3px;
  background-color: #6fb600;
  border: solid 1px #6fb600;

  font-family: 'RobotoBold', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 2.08;
  text-align: center;
  color: #ffffff;
}
.login-submit, .forget-password{
  font-size: 20px;
}
.reset-password-submit, .back-to-login{
  font-size: 18px;
}
.registration-submit{
  width: 100%;
}
.login-btn-wrap{
  padding-left: 0px;
}
.reset-btn-wrap{
  padding-right: 0px;
}
.login-submit, .forget-password, .reset-password-submit, .back-to-login{
  width: 100%;
}
.soc-auth-wrapper{

}
.social-auth{
  img{
    cursor: pointer;
  }
  div{
    width: 55px;
    height: 55px;
    display: inline-block;
    margin-right: 23px;
  }
  div:last-of-type{
    margin-right: 0px;
  }
  &.mobile{
    display: none;
    margin-top: 25px;
    font-weight: bold;
    div{
      width: 40px;
      height: 40px;
    }

  }
}
.register-vk, .vk-login{
  background: url( resources/images/icons/55/vk.png )no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fbregister, .fblogin{
  background: url( resources/images/icons/55/fb.png )no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.google-register, .google-login{
  background: url( resources/images/icons/55/g+.png )no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.register-vk, .fbregister, .google-register, .vk-login, .fblogin, .google-login{
  cursor: pointer;
}
.agreement-input-wrap{
  width: 20px;
  height: 100%;
  display: inline-block;
  margin-right: 10px;
}