.menu-container{
  position: absolute;
  ul.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-nav {
      float: none;
    }
  }
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #ffffff;
}
nav{
  z-index: 1;
}
.nav>li>a{
  font-size: 16px;
  //line-height: 1.88;
  text-align: left;

}
.navbar {
  border: none;
}
.navbar-default {

  background-color: transparent;
  border-color: unset;
  .navbar-nav>li>a, .navbar-nav>li>a:hover, .navbar-nav>li>a:active{
    color: #d7d7d7;
  }
  .navbar-nav>li>a:hover{
    color: #ffffff;
  }
}
.locale{
  text-transform: uppercase;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
  color: #ffffff;
}
.register-link{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.login-link{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.dashboard-link{
  border-radius: 3px;
}
.dropdown-toggle{
  background: transparent;
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
}
.dropdown-menu{
  min-width: unset;
  background-color: #100f0e;
  li{
    a{
      color: white;
    }
  }
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  color: white;
  background-color: #100f0e;
}