#progress{
  background: url(resources/images/progress-bg.png)no-repeat center center;

  @include bg-size( cover );

  padding-top: 87px;
  padding-bottom: 30px;

  .progressbar{
    overflow: hidden;
  }
  .wallet{
    font-size: 15px;
    color: white;
    .yellow-bg{
      border-radius: 3px;
      display: inline-block;
      padding-left: 9px;
      padding-right: 9px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 18px;

    }
    img{
      width: 25px;
      height: 25px;
    }
  }

  .first{
    font-family: 'RobotoBlack', sans-serif;
    font-size: 18px;
  }
  .second{
    font-size: 16px;
  }
  .wallet-nr{
    font-size: 16px;
    #clipboard-text{
      border: none;
      background-color : transparent;
      margin-right: 20px;
      padding-left: 0px;
      color: #ffd334;
      outline: 0;
      text-decoration: none;
    }
  }

  .divided-blocks{
    margin-top: 36px;
    margin-bottom: 26px;
    span{
      margin-right: 13px;
    }
  }

  .small-token{
    margin-right: 10px;
  }
  .center-horizontaly{
    font-size: 20px;
  }
  .curently-recived{
    font-size: 20px;
    line-height: 1.25;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
    .yellow{
      font-family: 'RobotoBlack', sans-serif;
    }
  }
}
.copy-icon{
  img{
    display: none;
  }
}