#problem{
  padding-top: 40px;
  .text-block{

    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: #9099a3;
  }
  .city-image{
    width: 100%;
    height: 150px;
    margin-bottom: 12px;

    background-image: url('resources/images/city.png');
    background-repeat: no-repeat;

    background-position: bottom;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    .container{
      height: 100%;
      .tooltips-wrap{
        height: 60%;
        display: flex;
        align-items: flex-end;
      }
    }
  }
  .city-description{
    margin-top: 100px;
    margin-bottom: 128px;
    text-align: center;
    .dark-bg{
      position: relative;
      border-radius: 3px;
      h4{
        margin-top: 0px;
      }
      p{
        margin-bottom: 0px;

      }
      padding: 21px 15px;
      text-align: left;
      max-width: 25%;
      margin-right: 34px;
      display: inline-block;
    }

    .dark-bg:after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0; height: 0;
      border-bottom: 8px solid #000000;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }
  .city-description > .dark-bg:last-of-type{
    margin-right: 0px;
  }
  .posts-wrap{
    padding-bottom: 85px;
    .post-wrap{
      height: 320px;

      .description-post-img{
        width: 54px;
        height: 54px;
      }
      p{
        font-family: 'RobotoRegular', sans-serif;
        font-size: 16px;
        line-height: 1.88;
        color: #9099a3;
      }
      .border-bottom{
        height: 100%;
      }
    }

  }
}
#subscribe{
  padding-top: 70px;
  padding-bottom: 90px;
  .subscription-container{
    display: flex;
    align-items: center;

  }
  .subscribe-description{
    display: flex;
    align-items: center;
    .title{
      float: left;
      width: 100%;
    }
  }


}
input[type="text"], input[type="password"]{
  background-color: #ffffff;
  border: solid 1px #bbc4cd;
  height: 51px;
  width: 400px;

  font-size: 18px;
  line-height: 1.94;
  text-align: left;
  color: #bbc4cd;
  padding-left: 20px;
}
input[type="button"]{
  width: 211px;
  height: 60px;
  background-color: white;
  color: #6fb600;
  border: solid 1px #6fb600;

  font-family: 'RobotoBold';
  font-size: 24px;
}

#roadmap{
  color: white;
  padding-top: 40px;
  padding-bottom: 90px;
  background: url( resources/images/roadmap-bg.png);
  @include bg-size( cover );
  ul{
    width: 740px;
    margin: 0 auto;
    position: relative;
    li{
      position: relative;
      .title-text, .date-description{
        line-height: 1.67;
        text-align: left;
        color: #ffffff;
      }
      .title-text{
        font-family: 'RobotoBold', sans-serif;
        font-size: 18px;
      }
      .date-description{
        font-family: 'RobotoRegular', sans-serif;
        font-size: 16px;
      }
      img{
        margin-right: 42px;
        float: left;
      }
    }
    li:before{
      content: '';
      width: 9px;
      height: 9px;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 18px;
      left: -38px;
    }
    li:last-of-type:before{
      content: '';
      width: 23px;
      height: 23px;
      background-color: yellow;
      border: 7px solid white;
      border-radius: 50%;
      position: absolute;
      top: 18px;
      left: -45px;
    }
  }
  ul:before{
    content: '';
    width: 3px;
    height: calc( 100% - 50px );
    background-color: #ffd333;
    position: absolute;
    top: 20px;
    //bottom: -40px;
    left: -35px;
  }
}
#partners{
  padding-bottom: 100px;
  .partners-wrap{
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .partner{
      float: none;
      display: inline-block;
      padding: 20px;
    }
    img{
      max-height: 60px;
      max-width: 210px;
    }
  }
}
#contact{
  h1{
    margin-bottom: 75px;
  }
  .container.border-bottom{
    padding-bottom: 70px;
  }

  .contactinfo{
    padding-left: 10%;
    .soc-icons{
      margin-top: 48px;
    }
    p{
      font-size: 18px;
      line-height: 1.67;
      color: #38414b;
    }
  }



}
.wpcf7{
  input, textarea {
    margin-bottom: 29px;
  }
  input[type="text"], input[type="email"]{
    background-color: #ffffff;
    border: solid 1px #bbc4cd;
    height: 51px;
    width: 100%;

    font-size: 18px;
    line-height: 1.94;
    text-align: left;
    color: #bbc4cd;
    padding-left: 20px;
  }
  input[type="button"], input[type="submit"]{
    width: 211px;
    height: 60px;
    background-color: white;
    color: #6fb600;
    border: solid 1px #6fb600;

    font-family: 'RobotoBold';
    font-size: 24px;
  }
  textarea {
    font-size: 18px;
    line-height: 1.94;
    text-align: left;
    color: #bbc4cd;
    padding-left: 20px;
    width: 100%;
    height: 120px;
    resize: none;
  }
}

.address-icon, .phone-icon{
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 18px;
}
//.address-icon{
//  background: url( resources/images/icons/address.png) center center no-repeat;
//  @include bg-size( contain );
//
//}
//.phone-icon{
//  background: url( resources/images/icons/phone.png);
//  @include bg-size( contain );
//}
.address, .phone{

  max-width: 355px;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #38414b;
  padding-bottom: 48px;

  display: flex;
  align-items: center;
  p{

    margin-bottom: 0px;
  }
}

.vk-yellow-icon, .fb-yellow-icon{
  margin-right: 28px;
}
.vk-yellow-icon, .fb-yellow-icon, .telegraph-yellow-icon{
  width: 67px;
  height: 67px;
  display: inline-block;
}
.vk-yellow-icon{
  background: url( resources/images/icons/yellow/vk.png);
  @include bg-size( contain );
}
.fb-yellow-icon{
  background: url( resources/images/icons/yellow/fb.png);
  @include bg-size( contain );
}
.telegraph-yellow-icon{
  background: url( resources/images/icons/yellow/telegraph.png);
  @include bg-size( contain );
}