#roadmap{
  color: white;
  padding-top: 40px;
  padding-bottom: 90px;
  background: url( resources/images/roadmap-bg.jpg);
  @include bg-size( cover );

  h4{
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }



  .right-block{
    margin-top: 113px;


  }


  .second{
    //.yellow{
      ///padding-top: 70px;
    //}
  }




}
.roadmap-block{
  position: relative;
}
.roadmap-item{

  position: relative;
  //width: 360px;
  margin: 0 auto;
  min-height: 37px;
  margin-bottom: 25px;
  p{
  margin-bottom: 0px;
  text-align: left;
  }
}
.li-img-wrap{
  display: inline-block;
  float: left;
  min-width: 70px; //margin-right: 32px;

  img{

    float: left;
    max-width: 37px;
    max-height: 37px;
  }
}
.li-txt-wrap{
  display: inline-block;
}