#roadmap{
  color: white;
  padding-top: 40px;
  padding-bottom: 90px;
  background: url( resources/images/roadmap-bg.jpg);
  @include bg-size( cover );

  h4{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
  //ul{
  //  width: 100%;
  //  margin: 0 auto;
  //  position: relative;
  //  li{
  //    @include display-flex();
  //    align-items: center;
  //    position: relative;
  //    min-height: 80px;
  //    .title-text, .date-description{
  //      line-height: 1.1;
  //      text-align: left;
  //      color: #ffffff;
  //    }
  //    .title-text{
  //      font-family: 'RobotoBold', sans-serif;
  //      font-size: 18px;
  //    }
  //    .date-description{
  //      font-family: 'RobotoRegular', sans-serif;
  //      font-size: 16px;
  //      margin-bottom: 0px;
  //    }
  //    img{
  //      max-width: 61px;max-height: 44px;
  //
  //      float: left;
  //    }
  //  }
  //}
  .left-block:before{
    content: '';
    width: 3px;
    height: calc( 100% - 80px);
    background-color: #ffd333;
    position: absolute;
    top: 40px;
    right: 0px;
  }
  .left-block{
    padding-right: 10%;
  }
  .right-block{
    padding-left: 10%;
  }
}

.roadmap-item{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.li-img-wrap{
  display: inline-block;
  float: left;
  min-width: 70px;
  //min-height: 60px;
}
.li-txt-wrap{
  display: inline-block;
}