#team{
  .container{
    padding-bottom: 60px;
  }
  .team-member{
    height: 215px;
    text-align: center;
    .team-photo{
      width: 120px;
      height: 120px;
      margin: 0 auto;
      margin-bottom: 13px;
    }
    h1{
      margin-bottom: 18px;
      font-family: 'RobotoBold', sans-serif;
    }
    p{
      font-family: 'RobotoRegular', sans-serif;
      font-size: 16px;
      line-height: 1.56;
      color: #9099a3;
      text-align: center;
    }
  }
}

