#video{
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: #f0f2f3;
  h1{
    margin-bottom: 50px;
  }
  iframe{
    width: 542px;
    height: 338px;
  }
  .text-block{
    padding-bottom: 25px;
    padding-top: 25px;
  }
}