#video{
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: #f0f2f3;
  h1{
    margin-bottom: 50px;
  }
  iframe{
    width: 542px;
    height: 338px;
  }
  .text-block{
    font-size: 16px;
    line-height: 1.88;
    color: #38414b;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .opts{
    text-transform: uppercase;
    font-size: 18px;
    .yellow-bg {
      font-family: 'RobotoBlack', sans-serif;
      position: relative;
      border-radius: 3px;
      display: inline-block;
      padding-left: 9px;
      padding-right: 9px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 11px;
      margin-right: 13px;
    }
    span{
      font-family: 'RobotoBold', sans-serif;
    }
  }

}