#banner{
  width: 100%;
  height: 340px;
  background-color: #afafaf;
  .granulas{
      width: 208px;
      height: 208px;

    .circle{

      padding: 15px;
      width: 100%;
      height: 100%;
      border: solid 0.8px #362f2c;
    }

  }
}