#problem{
  .city-image{
    width: 100%;
    height: 150px;


    background-image: url('resources/images/illustration@3x.png');
    background-repeat: no-repeat;

    background-position: bottom;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    .container{
      height: 100%;
      .tooltips-wrap{
        height: 60%;
        display: flex;
        align-items: flex-end;
      }
    }
  }
  .post-wrap{
    padding-bottom: 46px;
    .description-post-img{
      width: 54px;
      height: 54px;
    }
  }

}